body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E9F4FC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6E96B3;
    color: whitesmoke;
}

.jumbotron {
    background-color: #4A6478;
    color: whitesmoke;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
    background-color: #0D1E2A;
    border: none;
}

    .navbar a {
        color: lightgray;
        
        
    }

        .navbar a:hover {
            color: #F6BB11;
            border: none;
        }

.btn {
    background-color: #6E96B3;
    color: whitesmoke;
    border: solid thin #fec112;
}

    .btn:hover {
        background-color: #fec112;
        color: whitesmoke;
    }


    .btn:after {
        background-color: #f68111;
        color: black;
    }

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    background: #fff;
    box-shadow: 0 6px 18px #ccc;
}

.truncate {
    /* Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* Limit the text block to x lines */
    -webkit-line-clamp: 5;
}

.row-style {
    margin-top: 50px;
}

a {
    color: #0D1E2A;
}

    a:hover {
        color: #fec112;
    }
